<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="lib/u2f-api-1.1.js"></script>
    <script src="lib/text-encoding-0.7.0/encoding.js"></script>
    <script src="lib/text-encoding-0.7.0/encoding-indexes.js"></script>
    <script th:src="@{/lib/base64js/base64js-1.3.0.min.js}"></script>
    <script th:src="@{/js/base64url.js}"></script>
    <script th:src="@{/js/webauthn.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    const cose_alg_ECDSA_w_SHA256 = -7;
    const cose_alg_ECDSA_w_SHA512 = -36;
    var createCredentialOptions = {
        // Format of new credentials is publicKey
        publicKey: {
            // Relying Party
            rp: {
                name: "Example CORP",
                id: "localhost",
                icon: "https://login.example.com/login.ico"
            },
            // Cryptographic challenge from the server
            challenge: new Uint8Array(26),
            // User
            user: {
                id: new Uint8Array(16),
                name: "john.p.smith@example.com",
                displayName: "John P. Smith",
            },
            // Requested format of new keypair
            pubKeyCredParams: [{
                "alg": -7,
                "type": "public-key"
            },
                {
                    "alg": -8,
                    "type": "public-key"
                },
                {
                    "alg": -257,
                    "type": "public-key"
                }],
            // Timeout after 1 minute
            timeout: 60000,
            // Do not send the authenticator's origin attestation
            attestation: "direct",
            extensions: {},
            // Filter out authenticators which are bound to the device
            authenticatorSelection:{
                "requireResidentKey": false,
                "userVerification": "preferred"
            },
            // Exclude already existing credentials for the user
            excludeCredentials: []
        }
    };

    /**
     * Create a WebAuthn credential.
     *
     * @param request: object - A PublicKeyCredentialCreationOptions object, except
     *   where binary values are base64url encoded strings instead of byte arrays
     *
     * @return a PublicKeyCredentialCreationOptions suitable for passing as the
     *   `publicKey` parameter to `navigator.credentials.create()`
     */
    function decodePublicKeyCredentialCreationOptions(request) {
        // if (request.excludeCredentials === undefined){
        //     request.excludeCredentials = []
        // };
        const excludeCredentials = request.excludeCredentials.map(credential => extend(
            credential, {
                id: base64url.toByteArray(credential.id),
            }));

        const publicKeyCredentialCreationOptions = extend(
            request, {
                attestation: 'direct',
                user: extend(
                    request.user, {
                        id: base64url.toByteArray(request.user.id),
                    }),
                challenge: base64url.toByteArray(request.challenge),
                excludeCredentials,
            });

        return publicKeyCredentialCreationOptions;
    }

    function extend(obj, more) {
        return Object.assign({}, obj, more);
    }

    function register(){

        const username = document.getElementById('user_name').value;
        const displayName = document.getElementById('display_name').value;
        const credentialNickname = document.getElementById('credential_id').value;
        const u2f = document.getElementById('u2f').checked;

        var request;
        var credentials;
        let body = JSON.stringify({
                username : username,
                displayName: displayName,
                credentialNickname : credentialNickname,
                u2f : u2f
            });
        $.ajax({
            url:"http://localhost:8088/registration",
            type:"POST",
            contentType:"application/json",
            data:body,
            async:false,
            success : function(data){
                request=data;
                console.log( "SuccessData\n"+ JSON.stringify(data) );
                // console.log("credential Result \n"+navigator.credentials.get({publicKey: decodePublicKeyCredentialCreationOptions(result)}));
            }
        }).then(res => createCredential(res))
        .then( webauthn.responseToObject )
        .then(finish => credentials=finish)
        .then(
            $.ajax({
                url:"http://localhost:8088/registration/finish",
                type:"POST",
                contentType:"application/json",
                data:JSON.stringify({
                    requestId: request.requestId,
                    credential: credentials,
                    sessionToken: request.sessionToken || null

                }),
                async:false,
                success : function(finishRes){
                    console.log( "진짜 최종 결과물!!!\n"+ JSON.stringify(finishRes) );
                }
            })

        )
        ;




    }

    function createCredential(request){
        console.log("CreateCredential Info\n"+JSON.stringify(decodePublicKeyCredentialCreationOptions(request.publicKeyCredentialCreationOptions)));
        return navigator.credentials.create({publicKey: (decodePublicKeyCredentialCreationOptions(request.publicKeyCredentialCreationOptions))});
    }

</script>
</head>
<body>
    <b>User name : </b>
    <input type="text"  id="user_name">
    <Br>
    <b>Display Name : </b>
    <input type="text" id="display_name">
    <Br>
    <b>Credential Id : </b>
    <input type="text" id="credential_id">
    <br>
    <b>U2F 여부</b>
    <input type="checkbox" id="u2f">
    <button type="button" onclick="register()"> Register new account</button>
</body>
</html>