<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="lib/u2f-api-1.1.js"></script>
    <script src="lib/text-encoding-0.7.0/encoding.js"></script>
    <script src="lib/text-encoding-0.7.0/encoding-indexes.js"></script>
    <script th:src="@{/lib/base64js/base64js-1.3.0.min.js}"></script>
    <script th:src="@{/js/base64url.js}"></script>
    <script th:src="@{/js/webauthn.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    /**
     * Create a WebAuthn credential.
     *
     * @param request: object - A PublicKeyCredentialCreationOptions object, except
     *   where binary values are base64url encoded strings instead of byte arrays
     *
     * @return a PublicKeyCredentialCreationOptions suitable for passing as the
     *   `publicKey` parameter to `navigator.credentials.create()`
     */
    function decodePublicKeyCredentialCreationOptions(request) {
        // if (request.excludeCredentials === undefined){
        //     request.excludeCredentials = []
        // };
        const excludeCredentials = request.excludeCredentials.map(credential => extend(
            credential, {
                id: base64url.toByteArray(credential.id),
            }));

        const publicKeyCredentialCreationOptions = extend(
            request, {
                attestation: 'direct',
                user: extend(
                    request.user, {
                        id: base64url.toByteArray(request.user.id),
                    }),
                challenge: base64url.toByteArray(request.challenge),
                excludeCredentials,
            });

        return publicKeyCredentialCreationOptions;
    }

    function decodePublicKeyCredentialRequestOptions(request) {
        const allowCredentials = request.allowCredentials && request.allowCredentials.map(credential => extend(
            credential, {
                id: base64url.toByteArray(credential.id),
            }));
        console.log("request.challenge############\n" + request);
        const publicKeyCredentialRequestOptions = extend(
            request, {
                allowCredentials,
                challenge: base64url.toByteArray(request.challenge),
            });

        return publicKeyCredentialRequestOptions;
    }

    function extend(obj, more) {
        return Object.assign({}, obj, more);
    }

    logout = () => {
        sessionStorage.clear();
        document.getElementById('login').value = "세션토큰삭제됨" ;
        document.getElementById("session_token").value = "";
    }

    register = () =>{

        const username = document.getElementById('user_name').value;
        const displayName = document.getElementById('display_name').value;
        const credentialNickname = document.getElementById('credential_nickname').value;

        var request;
        var credentials;
        let body = JSON.stringify({
                username : username,
                displayName: displayName,
                credentialNickname : credentialNickname
            });

        $.ajax({
            url:"http://localhost:8088/registration",
            type:"POST",
            contentType:"application/json",
            data:body,
            async:false,
            error : function(finishRes){
                document.getElementById('response').value =  JSON.stringify( finishRes, null, 4 );

            },
            success : async function(data){
                console.log( "startRegistration() Result Data\n"+ JSON.stringify(data) );
                var credential = await createCredential(data);
                var result = await webauthn.responseToObject(credential);
                document.getElementById('response').value =  JSON.stringify( data, null, 4 );
                return registrationFinish(data,result);
            }

        })
        ;
    }

    authenticate = () => {
        const username = document.getElementById('user_name').value;

        const body = JSON.stringify({
            username: username
        })

        $.ajax({
            url:"http://localhost:8088/authenticate",
            type:"POST",
            contentType:"application/json",
            data:body,
            async: false,
            error : function(finishRes){
                document.getElementById('response').value =  JSON.stringify( finishRes, null, 4 );
            },
            success: async function(res){
                console.log("startAuthenticate() Result Data\n" + JSON.stringify(res));
                var authRequest = await executeAuthenticateRequest(res);
                var result = await webauthn.responseToObject(authRequest);
                document.getElementById('response').value =  JSON.stringify( res, null, 4 );
                return authenticateFinish(res,result);
            }
        })
    }



    async function registrationFinish(request,credentials){
        $.ajax({
            url:"http://localhost:8088/registration/finish",
            type:"POST",
            contentType:"application/json",
            data:JSON.stringify({
                requestId: request.requestId,
                credential: credentials,
                sessionToken: request.sessionToken || null,
                username: request.username,
                credentialNickname: request.credentialNickname
            }),
            async:false,
            error : function(finishRes){
                document.getElementById('response').value =  JSON.stringify( finishRes, null, 4 );
            },
            success : function(finishRes){
                console.log( "registrationFinish Response\n"+ JSON.stringify(finishRes) );
                document.getElementById('response').value =  JSON.stringify( finishRes, null, 4 );

            }

        })
    }

    async function authenticateFinish(request, credentails){
        $.ajax({
            url:"http://localhost:8088/authenticate/finish",
            type:"POST",
            contentType:"application/json",
            data: JSON.stringify({
                requestId: request.requestId,
                credential: credentails,
                sessionToken: request.sessionToken || null
            }),
            async: false,
            error : function(finishRes){
                document.getElementById('response').value =  JSON.stringify( finishRes, null, 4 );
            },
            success: function(finishRes){
                console.log("authenticateFinish Response\n"+JSON.stringify(finishRes));
                sessionStorage.setItem("sessionToken", finishRes.sessionToken);
                document.getElementById('session_token').value = sessionStorage.getItem("sessionToken");
                document.getElementById('login').value = "로그인 상태";
                document.getElementById('response').value =  JSON.stringify( finishRes, null, 4 );
            }

        })
    }

    async function createCredential(request){
        console.log("CreateCredential Info\n"+JSON.stringify(decodePublicKeyCredentialCreationOptions(request.publicKeyCredentialCreationOptions)));
        return await navigator.credentials.create({publicKey: (decodePublicKeyCredentialCreationOptions(request.publicKeyCredentialCreationOptions))});
    }

    async function executeAuthenticateRequest(request){
        console.log("executeAuthenticateRequest Info\n" + JSON.stringify(request));
        return await navigator.credentials.get({
            publicKey: decodePublicKeyCredentialRequestOptions(request.publicKeyCredentialRequestOptions),
        });
    }


</script>
</head>
<body>
    <h1>WebAuthn with SpringBoot</h1>
    <b>User name : </b>
    <input type="text"  id="user_name">
    <Br>
    <b>Display Name : </b>
    <input type="text" id="display_name">
    <Br>
    <b>Credential Nickname : </b>
    <input type="text" id="credential_nickname">
    <br>
    <button type="button" onclick="register()"> Register new account</button>
    <br>
    <button type="button" onclick="authenticate()">Authenticate</button>
    <br>
    <button type="button" onclick="logout()">logout</button>

    <Br><br>
    <b>Session Token</b>
    <textarea cols=50 rows=1 readonly id="session_token"></textarea>
    <br>
    <b>is user Authenticated?</b>
    <input  readonly type="text" id="login">

    <br><br>

    <h2>Response</h2>
    <textarea cols=100 rows=50 readonly id="response"></textarea>
</body>
</html>